
.deck-container{
width: auto;
max-width: 864px;
/*margin: 16px auto 24px auto;*/
margin-left: 205px;
/*min-height: 560px;*/
font-size: 16px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


/*vertical slide effect*/
.csstransitions.csstransforms {
  overflow-x: hidden;
}
.csstransitions.csstransforms .deck-container > .slide {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  -moz-transition: -moz-transform 500ms ease-in-out;
  -ms-transition: -ms-transform 500ms ease-in-out;
  -o-transition: -o-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 48px;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .slide {
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 500ms ease-in-out, opacity 500ms ease-in-out;
  -moz-transition: -moz-transform 500ms ease-in-out, opacity 500ms ease-in-out;
  -ms-transition: -ms-transform 500ms ease-in-out, opacity 500ms ease-in-out;
  -o-transition: -o-transform 500ms ease-in-out, opacity 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-next, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-after {
  visibility: visible;
  -webkit-transform: translate3d(200%, 0, 0);
  -moz-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  transform: translate3d(200%, 0, 0);
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous {
  -webkit-transform: translate3d(-200%, 0, 0);
  -moz-transform: translate(-200%, 0);
  -ms-transform: translate(-200%, 0);
  -o-transform: translate(-200%, 0);
  transform: translate3d(-200%, 0, 0);
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before {
  -webkit-transform: translate3d(-400%, 0, 0);
  -moz-transform: translate(-400%, 0);
  -ms-transform: translate(-400%, 0);
  -o-transform: translate(-400%, 0);
  transform: translate3d(-400%, 0, 0);
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-next {
  -webkit-transform: translate3d(200%, 0, 0);
  -moz-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  transform: translate3d(200%, 0, 0);
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-after {
  -webkit-transform: translate3d(400%, 0, 0);
  -moz-transform: translate(400%, 0);
  -ms-transform: translate(400%, 0);
  -o-transform: translate(400%, 0);
  transform: translate3d(400%, 0, 0);
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before .slide, .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous .slide {
  visibility: visible;
}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.deck-container .deck-permalink {
  display: none;
  position: absolute;
  z-index: 4;
  bottom: 30px;
  right: 0;
  width: 48px;
  text-align: center;
}

.no-history .deck-container:hover .deck-permalink {
  display: block;
}

/*Custom styles*/

.slidey{
/*  margin-top: -15px;
  margin-left: 0px;*/
height: 100%;
width: 100%;
background: #111;
}

#sidebar{
  float: left;
  width:200px;
  background-color: #111;
  height:100%;
  margin:0;
  min-height: 100%;
  position: absolute;
  border-right:2px solid red;
  color:#fff;
}

#nav-arrow{
  float: right;
  font-size:25px;
  z-index:9999;
  position: relative;
  color:#fff;
}